[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clordr"]
	path = clordr
	url = https://github.com/cran/clordr
[submodule "tmvmixnorm"]
	path = tmvmixnorm
	url = https://github.com/cran/tmvmixnorm
